.example-analytics {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: fit-content;
  padding: 1em;
  margin: 1em 0;
  border: 0.1em solid var(--border-color-layout);
  border-radius: 0.5em;
}

.example-analytics > h4 {
  margin: 0;
}

.example-analytics__description {
  padding: 0.5em;
  background-color: var(--background-color-warning);
  border: 0.1em solid var(--border-color-layout);
  border-radius: 0.5em;
}

.example-analytics__controls {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.example-analytics__stored-value {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.example-analytics__stored-value .label {
  font-weight: bold;
}

.example-analytics__stored-value .value.has-value {
  color: var(--text-color-success);
}

.example-analytics__stored-value .value.no-value {
  color: var(--text-color-warning);
}

.example-analytics__form {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.example-analytics__form button {
  margin-left: 0.5em;
}
