.category-details-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.category-details-container__single-category {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.category-toggle {
  padding: 0.5em;
  border: unset;
  outline: 0.1em solid var(--border-color-layout);
  border-radius: 0.2em;
}

.category-toggle:disabled {
  cursor: not-allowed;
}

.category-toggle.on {
  background-color: var(--toggle-background-color-enabled);
}

.category-toggle.off {
  background-color: var(--toggle-background-color-disabled);
}

.category-details {
  border-collapse: collapse;
  width: 100%;
}

.category-details th,
.category-details td {
  vertical-align: baseline;
  border: 0.1em solid var(--border-color-layout);
  padding: 0.5em;
  text-align: left;
}

.category-details th {
  background-color: var(--background-color-content-highlight);
  font-weight: bold;
}

.cookie-details {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
}

.cookie-details th,
.cookie-details td {
  padding: 0.25em;
}
