.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 0.2rem solid var(--border-color-layout);
  padding: 0.5rem;
}

.header__title {
  font-size: 3em;
  font-weight: bold;
}

.header__controls {
  align-self: baseline;
  display: flex;
  gap: 1em;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: var(--background-color-layout-highlight);
  border-radius: 0.5em;
}
